{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content = "width=device-width,initial-scale=1.0">
        <title>About Us</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'Home/css/styleAbout.css' %}">
    </head>
    <body>
        <header>
            <a id="logo" href="{% url 'Home:home' %}">
                <img src="{% static 'Home/images/amrita.jpg' %}" alt="Logo">
                <span>Smart Attendance Management System</span>
            </a>

            <!-- Main Navigation Links-->
            <nav>
                <ul>
                    <li><a href="{% url 'Home:home'%}">Home</a></li>
                    <li><a href="{% url 'Home:about'%}">About</a></li>
                    <li><a href="{% url 'Home:contact'%}">Contact Us</a></li>
                    <li><a href="{% url 'Home:calendar' %}">Calendar</a></li>

                    <li><a href="{% url 'login'%}">Login</a></li>
                </ul>
            </nav>

        </header>
        <div class="container">
            <h1>Smart Attendance Management System</h1>
            <h2> ~ Based on Facial Recognition</h2>
            <div class="image">
                <img src="{% static 'Home/images/Attendance.jpg' %}" alt="Attendance">
            </div>
            <p>
                To maintain the attendance record with day to day activities is a challenging task. 
                The conventional method of calling name of each student is time consuming and there is always a chance of proxy attendance. 
                The following system is based on face recognition to maintain the attendance record of students. 
                The daily attendance of students is recorded subject wise which is stored already by the administrator. As the time for corresponding subject arrives the system automatically starts taking snaps and then apply face detection and recognition technique to the given image and the recognize students are marked as present and their attendance update with corresponding time and subject id. 
            </p>
            <a href="{% url 'Home:home'%}" class="btn"> Back </a>
        </div>
    </body>
</html>