@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*  {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../images/Background.jpg');
    background-size: cover;
    color: white;
    
}
body   {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
  }
  #logo         {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    width: 49%;
  }
  #logo img    {
    width: 70px;
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
  }
  #logo span   {
    display: inline-block;
  }
  
  /* main navigation */
  nav     {
    width: 50%;
    display: inline-block;
    text-align: right;
  }
  nav ul   {
    list-style: none;
    margin: 0;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a    {
    color: #FFF;
    text-decoration:none;
    display: block;
    padding: 10px 15px;
    border-radius: 3px;
    transition: 0.3s ease all;
  }
  nav ul li a:hover   {
    background: #444;
  }
header   {
    background: #222;
    color: #FFF;
    padding: 20px 30px;
  }

.contact .content
{
    max-width: 800px;
    text-align: center;
    letter-spacing: 5px;
}

.contact .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: white;
}

.contact .content p
{
    font-weight: 300;
    color: white;
}

.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo
{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon
{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text
{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;

}

.container .contactInfo .box .text h3
{
    font-weight: 500;
    color: #90926c;
}

.contactForm
{
    width: 40%;
    padding: 40px;
    background: white;
    color: black;
}

.contactForm h2
{
    font-size: 30px;
    color: rgb(46, 57, 85);
    font-weight: 500;
}

.contactForm .inputBox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: both;
}

.contactForm .inputBox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    color: #666;
    transition: 0.5s;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    color: #90926c;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #90926c;
    color:white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.contactForm .inputBox input[type="submit"]:hover
{
    background:#797272;
}

.btn
{
    display: inline-block;
    padding: 10px;
    background: #90926c;
    font-size: 18px;
    text-decoration: none;
    color:white;
    width: 100px;
    border: none;
    margin-bottom: 50px;
    text-align: center;
    align-content: center;
    transition: background 0.5s;

}
.btn:hover
{
    background:#797272;
}


@media (max-width: 991px)
{
    .contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo, .contactForm
    {
        width: 100%;
    }
}